:root {
    --font-size: 24px;
}

body {
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 320px;
    line-height: var(--font-size);
}

main {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    max-width: 480px;
    grid-gap: 5%;
    position: relative;
    padding: var(--gap);
}

main > button::before, main > div::before {
    content:"";
    padding-bottom: 75%;
    display: block;
}

main > button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    color: #222;
    border-radius: 4px;
    border: none;
    font-size: var(--font-size);
    outline: none;
}

main > button:hover {
    cursor: pointer;
}

#result::before {
    content: "";
    padding-bottom: 45.243%;
    display: block;
}

#result {
    background-color: white;
    border: 2px solid #BBB;
    padding: 0 calc(var(--font-size)/2);
    grid-column: span 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 35px;
    overflow: hidden;
}

#result:hover {
    cursor: auto;
}

#spacer::before {
    content: "";
    padding-bottom: 25%;
    display: block;
}

#spacer {
    grid-column: span 2;
}

#backspace, #clear {
    background-color: rgb(255, 208, 0);
}

#divide, #multiply, #subtract, #add {
    background-color: #BBB;
}

#equals {
    background-color: rgb(30, 90, 255);
    color: white;
}

/*
#warning {
    position: absolute;
    left: var(--gap);
    top: -10%;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 14px;
    visibility: hidden;
    text-align: center;
    color: #222;
}
*/

#debug {
    font-size: 12px;
    font-family: monospace;
    position: fixed;
    background-color: black;
    color: white;
    top: 0;
    left: 0;
}